apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-liybxxua
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-liybxxua:51b4d5d90f63d021eacef1ca1cd3e61352c12d2e@sha256:1980c1562f8659cc39441622b2251c5191c623235db329d2b5d31f359a35a3c7
          name: container-image
