apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-liybxxua
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-liybxxua:560223c797d8099461d11084f05ad2b2c44d4d48@sha256:6b16178ef1b9aea3672a87076807a6e455574dec5454b27a0bc838a4e54477b6
          name: container-image
